@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Secular+One&family=Solway&family=Titillium+Web&display=swap');

:root{
    --font1 : 'Josefin Sans', sans-serif;
    --font2 : 'Secular One', sans-serif;
    --font3 : 'Solway', serif;
    --font4 : 'Titillium Web', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #ecddf5;
}

#content{
    height: 100vh;
    width: auto;
    display: flex;
    /* align-items: center; */
}

section .wrapper-side{
    display: flex;
    align-items: center;
}

section .sidebar{
    width: 17%;
    height: 95vh;
    border-radius: 15px;
    margin: 0 1.5%;
    overflow: hidden;
    position: fixed;
    background-color: #312244;
}

.sidebar .header-side{
    margin: 20px;
    text-align: center;
    font-family: var(--font2);
    font-size: 30px;
    color: #efefef;
}

.sidebar .row-side{
    border: 1px solid #1e0b3fc4;
}

.sidebar .content-side{
    margin: 50px 10px 0 25px;
}

.content-side ul{
    list-style: none;
}

.content-side ul li{
    margin: 0 0 30px 0;
    width: 100%;
}

.content-side ul li a{
    text-decoration: none;
    padding: 10px 100% 10px 15px;
    height: 20px;
    border-radius: 10px 0 0 20px;
    color: #E0AAFF;
    font-family: var(--font1);
    font-size: 20px;
    transition: all 0.2s;
}

.content-side ul li a.active{
    background-color: #ecddf5;
    color: #312244;
    font-weight: bold;
}

.content-side ul li a:hover{
    background-color: #3c096c8a;
    color: #ecddf5;
    font-weight: bold;
}

.sidebar .footer-side{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-side a{
    text-decoration: none;
    color: #312244;
    font-family: var(--font1);
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    margin: 20px 20px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: #ecddf5;
}

.main {
    margin: 0 0 0 18.5%;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.main .header{
    padding: 5px 20px;
    font-family: var(--font4);
}

.header .brand .head span{
    font-size: 15px;
    color: #252525;
}

.header .brand .head span b{
    font-weight: 600;
}

.brand .ket{
    font-size: 20px;
    font-weight: bold;
}

.main .content{
    padding: 20px 0 0.5px 10px ;
}

.main .content .card-header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.main .content .card-header .card-add{
    background-color: #F9F9F9;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.card-header .card-add .head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding: 20px 20px;
}

.card-header .card-add .head .addMem{
    background-color: #3C096C;
    color: #ecddf5;
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
}

.card-header .card-add .head .ket{
    text-align: right;
    font-family: var(--font3);
    display: grid;
    gap: 10px;
}

.card-add .head .ket p{
    font-size: 15px;
    height: 30px;
    font-weight: bold;
}

.card-add .head .ket .butt{
    margin: 10px 0;
}

.card-add .head .ket .butt a{
    background-color: #3C096C;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #ecddf5;
    border-radius: 20px;
    padding: 10px 20px 8px 20px;
    font-family: var(--font1);
    transition: all 0.2s;
}


.main .content .card-header .card-show{
    background-color: #3C096C;
    border-radius: 10px;
    transition: all 0.2s;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}

.main .content .card-header .card-show:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

.card-header .card-show .head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    align-items: center;
    padding: 20px 20px;
}

.card-header .card-show .head .member{
    background-color: #F9F9F9;
    color: #3C096C;
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
}

.card-header .card-show .head .ket{
    text-align: right;
    font-family: var(--font3);
    display: grid;
    gap: 10px;
}

.card-show .head .ket p{
    font-size: 15px;
    height: 30px;
    color: #F9F9F9;
    font-weight: bold;
}

.card-show .head .ket .butt{
    margin: 10px 0;
}

.card-show .head .ket .butt a{
    background-color: #F9F9F9;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #3C096C;
    border-radius: 20px;
    padding: 10px 20px 8px 20px;
    font-family: var(--font1);
    transition: all 0.2s;
}

.card-show .head .ket .butt a:hover{
    background-color: #25252589;
    color: #F9F9F9;
}

.content .main-content{
    margin: 3% 0;
    display: block;
    
}

.main-content .wrapper{
    background-color: #9D4EDD;
    border-radius: 10px;
}

.wrapper .header{
    width: 100%;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px 10px 0 0 ;
    background-color: #312244;
    font-family: var(--font2);
}

.wrapper .header span{
    color: #ecddf5;
}

.main-content .wrapper .wrapper-table{
    width: 100%;
    overflow-x: scroll;
}

.main-content .wrapper table{
    padding: 10px 20px 30px 20px;
    width: 120rem;
    font-family: var(--font3);
}

.wrapper table thead tr th{
    border-bottom: 2px solid #312244;
    font-size: 15px;
    padding: 0 10px;
    color: #252525;
}

.wrapper table tbody tr td{
    text-align: center;
    padding: 20px 0;
    color: #252525;
    border-bottom: 1px solid #361f5489;
}

.wrapper table tbody tr:hover{
    background-color: #c77dff85;
    cursor: pointer;
}

.wrapper table tbody tr td a{
    text-decoration: none;
    padding: 7px 20px;
    margin: 0 2px;
    border-radius: 5px;
}

.wrapper table tbody tr td a.edit:hover{
    background-color: #bb7900;
}

.wrapper table tbody tr td a.hapus:hover{
    background-color: #651409;
}

.wrapper table tbody tr td a.ext:hover{
    background-color: #33333eb9;
}

.wrapper table tbody tr td a.edit{
    background-color: #F6AA1C;
    color: #ecddf5;
}

.wrapper table tbody tr td a.hapus{
    background-color: #941B0C;
    color: #ecddf5;
}

.wrapper table tbody tr td a.ext{
    background-color: #272640;
    color: #ecddf5;
}